@media (max-width: 900px){
    .nav-menu{
        display: none;
    }
    .logo{
        border: none;
    }
    .cards-inner{
        grid-template-columns: auto;
    }
    .service-cards{
        grid-template-columns: repeat(2, auto);
    }
    .__about-head{
        margin-left: 0;
        margin-bottom: 30px;
    }
    .galery-inner{
        grid-template-columns: auto;
    }
    .header-contact{
        margin-right: 65px;
    }
}

@media (max-width: 768px){
    .menu-burger{
        display: block;
    }
    .main-title{
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width: 768px){
    .about-content{
        display: block;
    }
    .about-txt{
        max-width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px){
    .contacts-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contacts-form{
        padding: 0 20px;
    }
}

@media (max-width: 500px){
    .service-cards{
        grid-template-columns: auto;
    }
}

@media (max-width: 450px){
    .contact-block{
        display: none;
    }
    .__services-btn{
        display: none;
    }
}